extends layout

block content
  script(src='/javascripts/kellyScripts.js')

  .container
    .row.justify-content-center
      .col-sm-12.text-center
        h3.title-bold= title
    .row.justify-content-center
      .col-sm-12.text-center
        h6 Please select the number of players and the number of balls per player.
    hr
    .row.justify-content-center
      .col-sm-12
        form#mainForm(action="javascript:void(0);")
          .form-group
            label.input-underline Players:
            input#players.form-control(name="playerInput" type='number' pattern="[0-9]*", onfocus="this.value=''")
            label.input-underline Balls:
            input#balls.form-control(name="ballInput" type='number' pattern="[0-9]*", onfocus="this.value=''")
            br
            button.btn.btn-primary(type='submit' onfocus="blur();") Assign Balls
    #errorDiv.row.justify-content-center
      .col-sm-12.text-center
        span#errorSpan.span-error
    #successDiv.row.justify-content-center
      .col-sm-12.text-center
        span#successSpan.span-success
    #ballDiv.row.justify-content-center
      .col-sm-12.text-center
        #playerDivs

  <!-- Modal -->
  #nameChangeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='nameChangeModal', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Edit Name...
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        form#nameChangeForm(action="javascript:void(0);")
          .form-group
            .modal-body
                  label.input-underline Name:
                  input#newName.form-control(type='text', name='newName', onfocus="this.value=''")
                  input#playerIDEdit(type='hidden', value='')
                  span#errorSpanModal.span-error
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit') Save Name

  <!-- Leaderboard Modal -->
  #leaderboardModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header.leaderboardmodal-header
          h5.modal-title Leaderboard
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body.leaderboardmodal-body
          table#leaderboardTable.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Player
                th(scope='col') Wins
            tbody

  <!-- Select Winner Modal -->
  #selectWinnerModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5.modal-title Select Winner...
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        #selectPlayer.modal-body.selectwinnermodal-body