doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css", rel="stylesheet", integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k", crossorigin="anonymous")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/sieg-pool-logo-big.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/sieg-pool-logo-big.png")
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js')
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='/javascripts/sidenavScripts.js')

  body
    script.
      // Fade in body
      $(document).ready(function(){
        $('body').fadeIn(1500);
      });

      function openNav() {
        document.getElementById("mainSidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mainSidenav").style.width = "0";
      }
    //-
      #mainSidenav.sidenav
        p.closebtn(onclick='closeNav()') ×
        p(onclick="getLeaderBoard()") Leaderboard
        p(onclick="populateSelectWinnerList()") Select Winner

      span(class="options-span" onclick='openNav()') ☰ 
      br
    block content